/*universal font*/
html * {
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}

/* headers */
h1 {
  font-size:45px;
  color: #2A2F8F;
  margin-bottom:30px;
}
h2 {
  font-size:40px;
  color: #2A2F8F;
  margin-bottom:30px;
}

/*bordered list specs*/
.borderBlock {
  display: block;
  width: 100%;
  margin: 0 auto;
  width: 400px;
  border:  3px double #2A2F8F;
}

/*align block text in border*/
.blockText {
  text-align: left;
}

  
