/*universal font*/
html * {
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}

/* headers */
h1 {
  font-size:45px;
  color: #2A2F8F;
  margin-bottom:30px;
}
h2 {
  font-size:40px;
  color: #2A2F8F;
  margin-bottom:30px;
}

/*bordered list specs*/
.borderBlock {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  border:  3px double #2A2F8F;
}

/*align block text in border*/
.blockText {
  text-align: left;
}
 
/* alt colors in table */
tr:nth-child(odd) {background-color: #7ebcd6;
}
 
.icon {
  padding: 30px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

.iconBlock {
  display: block;
  float: right;
  padding-top: 100px;
  padding-right: 30px;
}

/* Facebook */
.icon-fb {
  background: #3B5998;
  color: #FFFFFF;
}

/* Twitter */
.icon.tw {
  background: #55ACEE;
  color: #FFFFFF;
}

label {
  display:inline-block; 
  width: 150px; 
  height:75px; 
  text-align:right;
}
