/*Color Palette
dark teal: #29698C
powder blue: #7DD1FF
brown: #8C5B1B
turquoise: #1FADDC
amber: #DBB50F
*/

html * {
    font-family:"Roboto", sans-serif;
    text-align:left;
}

title {
    font-size: 30px;
    color:#000000;
}

h1 {
    color:#8C5B1B;
}

h2 {
    color:#000000;
    text-align:center;
    font-size:30px;
}

h3 {
    color:#000000;
}

.headerText {
    color:#FFFFFF;
    font-size:40px;
    display:inline;
}

.nav {
    display:block;
    position:static;
    height:90px;
    width:100%;
    background-color:#29698C;
    color:#FFFFFF;
}

.navIcon {
    width:auto;
    height:90%;
    display:inline;
    margin-left:5px;
    border-radius:70%;
}

#logo {
    float:left;
}
#cartImg, #orderImg {
    float:right;
}
#nItems {
    float:center;
    position:absolute;
    top:15px;
    right:35px;
    bottom:10px;
    border-radius:100%;
    text-align: center;
    height:25px;
    width:25px;
    background-color:#DBB50F;
    color:#000000;
    overflow:hidden;
}

main {
    margin-top:2rem;
    margin-bottom:5rem;
    margin-left:3rem;
    margin-right:3rem;
    height:100%;
    border:solid;
}

footer {
    position:relative;
    left:0;
    bottom:0;
    height:1.5rem;
    width:100%;
    background-color:#29698C;
    color:#FFFFFF;
    text-align:center;
    margin-top:100px;
    float:bottom;
}

.footerText {
    font-size:16px;
    text-align:center;
    top:5px;
}

.container {
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:baseline;
    flex-wrap:wrap;
    align-content:space-evenly;
}

.tile {
    display:block;
    position:relative;
    height:16em;
    width:14em;
    background-color:#FFFFFF;
    border:solid;
    border-color:#29698C;
    border-width:2px;
    object-fit:cover;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: inset;
}


/*Cart Page*/
.cart {
    display:block;
    position:relative;
    height:16em;
    width:25em;
    background-color:#FFFFFF;
    border:solid;
    border-color:#29698C;
    border-width:3px;
    object-fit:cover;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: inset;
}

.photo {
    position:relative;
    display:block;
    float:top;
    left:10px;
    right:auto;
    height:50%;
    object-fit:contain;
    overflow:hidden;
}

.info {
    position:relative;
    display:flow-root;
    height:20%;
    width:100%;
    float:bottom;
    bottom:2px;
    overflow:unset;
    object-fit:scale-down;
}

.name {
    display:block;
    position:relative;
    font-size:2rem !important;
    object-fit:scale-down;
    overflow:hidden;
    bottom:0;
}

.buttons {
    display:block;
    position:relative;
    float:center;
    bottom:1px;
    width:100%;
    align-items:center;
    top:0;
    justify-content:center;
}

.desc {
    font-size:20px !important;
    position:relative;
    float:right;
    justify-self: right;
    width:100%;
    height:fit-content;
    padding:0%;
    margin:0%;
}

.addCart {
    max-width: 40%;
    width: 40%;
    margin-top: 20px;
    margin-left: 5px;
    height: 2rem;
    font-size: 60%;
    text-align:center;
    display:inline-block;
    border-radius:12px;
    background-color:#DBB50F;
    color:#000000;
}

.moreInfo {
    max-width: 40%;
    width: 40%;
    margin-top: 20px;
    margin-left: 5px;
    height: 2rem;
    font-size: 60%;
    text-align:center;
    display:inline-block;
    border-radius:12px;
}

.cartDiv {
    position:relative;
    left:5px;
    width:80%;
    max-width:80%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:baseline;
    flex-wrap:wrap;
    align-content:space-evenly;
    border:solid;
    float:left;
}

.lineItem {
    display:block;
    position:relative;
    height:16em;
    width:20em;
    background-color:#FFFFFF;
    border:solid;
    border-color:#29698C;
    border-width:3px;
    object-fit:cover;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: inset;
}

/*Orders Page*/
.orders {
    display:block;
    flex-direction:row;
    position:relative;
    height:20em;
    width:100%;
    background-color:#FFFFFF;
    object-fit:cover;
    margin-top:10px;
    margin-bottom:2px;
    font-size:large;
}

.orderItems {
    display:block;
    position:relative;
    height:auto;
    width:80%;
    background-color:#FFFFFF;
    object-fit:cover;
    margin-top:10px;
    margin-bottom:2px;
    box-shadow: inset;
    font-size:medium;
}