/*Color Palette
blue: #012D56
red: #810129
white: #FFFFFF
purple: #531B50
*/

html * {
    font-family:"Roboto", sans-serif;
    text-align:center;
}

#logo {
    width:auto;
    height:100%;
    display:block;
    float:left;
    margin-left:5px;
    border-radius:60%;
}

#menu {
    width:80px;
    height:100%;
    display:block;
    float:right;
    margin-left:3px;
    border-radius:60%;
}

#title {
    font-family: 'Abril Fatface', cursive !important;
}

h1 {
    color:#FFFFFF;
}

h2 {
    color: #521B10;
}

h3 {
    color: #521B10;
}

.text1 {
    font-size:20px;
}

#nav {
    position:sticky;
    display:block;
    width:100%;
    height:5rem;
    background-color:#012D56;
    color:#FFFFFF;
    border:solid;
}

.button1 {
    max-width: 90%;
    width: 10rem;
    margin-top: 20px;
    margin-left: 5px;
    height: 2rem;
    font-size: 100%;
    display:block;
    float:center;
    border-radius:12px;
}

#backdrop {
    margin-top:2rem;
    margin-bottom:5rem;
    margin-left:3rem;
    margin-right:3rem;
    height:100%;
    border:solid;
}

#footer {
    position:relative;
    left:0;
    bottom:0;
    height:1.5rem;
    width:100%;
    background-color:#32394D;
    color:#FFFFFF;
    text-align:center;
    margin-top:100px;
}