/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&display=swap');

/*Body Text*/
html * {
  font-family: "Roboto", sans-serif;
}

#justify {
  text-align: justify !important;
  text-justify: auto;
}

#content {
  margin-left:10px;
}
        
/* headers */
.header {
  font-family: "Italiana";
  padding-top: 0px;
  margin: 0px;
  font-size: 70px;
  color: #FFFFFF;
  text-align: center;
}

.bgImage {
  background-image: url('https://images.squarespace-cdn.com/content/v1/6081023e3e572a45a3d21f04/1626261568296-192V6WR02WB1TGJ0JAH7/Mamisa-String-Quartet.jpg?format=2500w');
  max-height: 300px;
  height:300px;
  width: 100%;
  background-color: #000000;
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
  background-attachment: local;
  background-repeat: no-repeat;
  resize: both;
}
h1 {
  font-family: "Italiana";
  font-size: 40px;
  color: #A87347;
  margin-bottom: 10px;
}
h2 {
  font-family: "Italiana";
  font-size: 32px;
  color: #436A7B;
  margin-bottom: 10px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
}

/* footer */
footer {
  font-size: 10px;
  text-align: center;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding-bottom:10px;
}
/* footer divider */
hr.solid {
  border-top: 3px solid  #bbb;
}

/* NavBar Block */
.navBar {
  overflow: hidden;
  background-color: #A87347;
  margin-left: auto;
  margin-right: auto;
  position: sticky !important;
  float: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* NavBar Option */
.navBar a {
  float: center;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 16px;
  font-size: 15px;
  text-decoration: none;
  /*position: sticky;*/
  margin-left: auto;
  margin-right: auto;
}
/* NavBar Option Hover effect */
.navBar a:hover {
  background-color: #436A7B;
  color: #FFFFFF;
}
/* NavBar Option active on-page */
.navBar a.active {
  background-color: #436A7B;
  color: #FFFFFF;
}

/*Image Style*/
.bodyImage {
  max-width: 800px;
  width: 100%;
  height: auto;
  display: inline-block;
}

/*Form Style*/
#border {
  border: 3px solid;
  border-color: #436A7B;
  width: 40%;
  display:flex;
}

form {
  padding: 5px;
  margin: 5px;
}

label {
  margin-right: 5px;
  width: 150px;
  display: inline-block;
}
input, select {
  max-width:200px;
  padding: 5px 5px;
  margin: 8px 12px;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #436A7B;
  border: none;
  color: #FFFFFF;
  padding: 12px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  position: center;
  text-align: center;
}

/* NavBar Option Hover effect */
button:hover {
  background-color: #A87347;
  color: #FFFFFF;
}

table {
  border: 2px solid;
  border-color: #436A7B;
  width:40%;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  float:left;
}

/*Responsiveness*/
@media screen and (max-width: 500px) {
  html * {
    font-size: 20px;
  }
  .bodyImage {
    display: inline-block;
    position: center;
  }
  .header {
    font-size: 40px;
  }
  .bgImage {
    background-size: cover;
    display: inline-block;
  }
  #border {
    width: 100%;
    margin-right:10px;
  }
  input, select, label {
    width: 90%;
  }
  table {
    max-width: 80%;
    width: 80%;
  }
}
