/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&display=swap');

html * {
  font-family: "Roboto", sans-serif;
}
        
/* headers */
.header {
  font-family: "Italiana";
  padding-top: 0px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}
.bgImage {
  background-image: url('https://images.squarespace-cdn.com/content/v1/6081023e3e572a45a3d21f04/1626261568296-192V6WR02WB1TGJ0JAH7/Mamisa-String-Quartet.jpg?format=2500w');
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-attachment: local;
  background-repeat: no-repeat;
  resize: both;
}
h1 {
  font-family: "Italiana", sans-serif;
  font-size: 40px;
  color: #A87347;
  margin-bottom: 10px;
}
h2 {
  font-family: "Italiana", sans-serif;
  font-size: 32px;
  color: #436A7B;
  margin-bottom: 10px;
}

/*footer*/
footer {
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.navMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: center;
}
.navOption {
  display: block;
  padding: 8px;
  background-color: #A87347;
}

